.pagination {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.pagination li {
  margin-right: 10px;
}

.pagination a {
  display: block;
  padding: 10px;
  color: var(--accsent-color);
  font-size: 20px;

  cursor: pointer;
  text-decoration: none;
}

.pagination a:hover {
  color: #888888;
}

.pagination .active a {
  background-color: #007bff;
  color: #fff;
}
